*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  overflow: auto;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.header__block {
  display: flex;
}

.header__title {
  color: #424242;
}
.header__title h1 {
  font-size: 70px;
  line-height: 23px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin-top: 35px;
  font-weight: 700;
}
.header__title h1 span {
  display: inline-block;
}

h1 span::first-letter {
  color: #ff7e45;
}

span + span {
  margin-left: 20px;
}

.header__subtitle {
  margin-top: 35px;
  font-size: 28px;
  line-height: 23px;
  font-weight: 700;
}

.contacts {
  margin-top: 95px;
  margin-left: 80px;
  display: flex;
  font-size: 16px;
}
.contacts .number {
  margin-right: 30px;
  text-decoration: none;
  color: #424242;
  line-height: 23px;
  font-weight: 700;
}
.contacts .map {
  text-decoration: none;
  color: #424242;
  line-height: 23px;
  font-weight: 700;
}

.social {
  display: flex;
  margin: 20px 0 0 60px;
  display: inline-block;
  position: relative;
}
.social .registered {
  margin-left: 40px;
}
.social .social__items {
  display: inline-block;
  position: relative;
  z-index: 2;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background: white;
}

.social:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -1px;
  height: 2px;
  width: 280px;
  background: #c0c0c0;
}

.basket__block {
  margin: 25px 0 0 60px;
}
.basket__block .basket__line {
  height: 40px;
  width: 240px;
  background-color: #e2e2e2;
  border: none;
  border-radius: 3px;
  color: #424242;
  padding: 0;
  text-align: center;
}
.basket__block .photo__basket {
  background: #ff7e45;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  padding: 0;
  transform: translate(-3px, 3px);
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.twitter, .facebook, .vkontakte, .instagram, .key, .lock {
  fill: #c0c0c0;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 2px solid #c0c0c0;
  border-radius: 50%;
}
.twitter:hover, .facebook:hover, .vkontakte:hover, .instagram:hover, .key:hover, .lock:hover {
  fill: #fff;
  border: none;
  box-shadow: 0 0 5px 2px;
}

.twitter:hover {
  background: #18c2ed;
  box-shadow: 0 0 5px 2px #18c2ed;
}

.facebook:hover {
  background: blue;
}

.vkontakte:hover {
  background: #12a7cc;
  box-shadow: 0 0 5px 2px #12a7cc;
}

.instagram:hover {
  background: #e11588;
  box-shadow: 0 0 5px 2px #e11588;
}

.key:hover {
  background: blue;
}

.lock:hover {
  background: blue;
}

.nav {
  margin-top: 35px;
  display: flex;
}

.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu li {
  background: #e2e2e2;
  text-transform: uppercase;
  border: none;
  text-align: center;
  padding: 0;
}
.menu li:hover {
  background: #ff7e45;
}
.menu li .menu__items {
  color: #424242;
  padding: 8.5px 57px;
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  line-height: 23px;
  font-weight: 300;
}
.menu li .menu__items:hover {
  color: #fff;
}

.search__line {
  height: 40px;
  width: 240px;
  background-color: white;
  border: 1px #e2e2e2 solid;
  border-radius: 2px;
  color: #424242;
  padding: 0;
  text-align: center;
}

.search__photo {
  background: #ff7e45;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  padding: 0;
  transform: translate(-3px, 3px);
}

.slider__photo img {
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
}
