*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.header__block {
  display: flex;
}

.header__title {
  color: #424242;
}
.header__title h1 {
  font-size: 70px;
  line-height: 23px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin-top: 35px;
  font-weight: 700;
}
.header__title h1 span {
  display: inline-block;
}

h1 span::first-letter {
  color: #ff7e45;
}

span + span {
  margin-left: 20px;
}

.header__subtitle {
  margin-top: 35px;
  font-size: 28px;
  line-height: 23px;
  font-weight: 700;
}

.contacts {
  margin-top: 95px;
  margin-left: 120px;
  display: flex;
  font-size: 16px;
}
.contacts .number {
  margin-right: 30px;
  text-decoration: none;
  color: #424242;
  line-height: 23px;
  font-weight: 700;
}
.contacts .map {
  text-decoration: none;
  color: #424242;
  line-height: 23px;
  font-weight: 700;
}

.social {
  position: relative;
  display: flex;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.twitter, .facebook, .vkontakte, .instagram {
  top: 40px;
  z-index: 4;
  fill: #c0c0c0;
  padding: 5px;
  border: 2px solid #c0c0c0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.twitter:hover, .facebook:hover, .vkontakte:hover, .instagram:hover {
  fill: #fff;
  background: blue;
  border: none;
  box-shadow: 0 0 5px 2px;
}

.twitter:hover {
  background: #18c2ed;
  box-shadow: 0 0 5px 2px #18c2ed;
}

.vkontakte:hover {
  background: #12a7cc;
  box-shadow: 0 0 5px 2px #12a7cc;
}

.instagram:hover {
  background: #e11588;
  box-shadow: 0 0 5px 2px #e11588;
}
