.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}



%social__icons {
    top: 40px;
    z-index: 4;
    fill: $social-color;
    padding: 5px;
    border: 2px solid $social-color;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    &:hover{
        fill: #fff;
        background: blue;
        border: none;
        box-shadow: 0 0 5px 2px;
    }
}

.twitter{
    @extend %social__icons;
    &:hover{
        background: #18c2ed;
        box-shadow: 0 0 5px 2px #18c2ed;
    }
}

.facebook{
    @extend %social__icons;
}
.vkontakte{
    @extend %social__icons;
    &:hover{
        background: #12a7cc;
        box-shadow: 0 0 5px 2px #12a7cc;
    }
}
.instagram{
    @extend %social__icons;
    &:hover{
        background: #e11588;
        box-shadow: 0 0 5px 2px #e11588;
    }
}





